body {
    background-color: #f8f9fa;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    width: 110px;
    height: auto;   
}

.text-nuam {
    color: #ff5722;
}

.bg-nuam {
    background-color: #ff5722;
}

.border-nuam {
    border: 1.5px solid #ff5722;
    border-radius: 8px;
}

.btn-nuam {
    background-color: #ff5722;
    color: #fff;
    font-weight: 500;
    border: none;
}

.btn-nuam:hover {
    background-color: #ff784e;
    color: #fff;
}

.nav-link {
    color: #333;
    font-weight: 500;
    margin-right: 10px;
    transition: 0.3s;
}

.nav-link.active, 
.nav-link:hover {
    background-color: #ff5722;
    color: #fff !important;
    border-radius: 6px;
    padding: 6px 12px;
}

.profile-placeholder {
    width: 40px;
    height: 40px;
    background-color: #ff5722;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    transition: all 0.3s ease-in-out;
}

.box:hover {
    box-shadow: 0 4px 12px rgba(255, 87, 34, 0.15);
}


input[type="text"],
input[type="number"],
select,
.form-control {
    border: 1.5px solid #ddd;
    border-radius: 6px;
    transition: 0.3s;
}

input:focus, select:focus {
    border-color: #ff5722;
    box-shadow: 0 0 6px rgba(255, 87, 34, 0.3);
}

label {
    font-weight: 500;
    color: #444;
}

button {
    border-radius: 6px;
}

body.dark-mode {
    background-color: #121212; /* fondo oscuro */
}