
.roles-contenedor {
    max-width: 900px;
}


.roles-titulo {
    font-size: 28px;
    font-weight: bold;
    color: #111; 
}


.table thead tr {
    background-color: #ff5722;
    color: white;
}


.text-nuam {
    color: #ff5722 !important;
}


.btn-nuam {
    background-color: #ff5722 !important;
    color: #fff !important;
    border: 1px solid #ff5722 !important;
}

.btn-nuam:hover {
    background-color: #ff784e !important;
    color: #fff !important;
}


.profile-placeholder {
    width: 40px;
    height: 40px;
    background-color: #ff5722;
    border-radius: 50%;
}

#searchInput {
    border-radius: 6px;
}

